<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Angular authorization and chat demo built with Yoke</title>

    <link rel="stylesheet" href="/static/app/main.css" type="text/css" media="screen" />

  </head>
  
  <body ng-app="angular-auth-demo" class="auth-demo-application waiting-for-angular"> 

    
    <div id="initializing-panel"></div>

    <div id="content-outer">

      <div id="login-holder">
        <div id="loginbox">
          <div id="login-inner" ng:controller="LoginController">
            Note: there is no need to enter any credentials.<br>&nbsp;
            <form ng-submit="submit()">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>Username</th>
                  <td><input type="text" class="login-inp" ng-model="username"/></td>
                </tr>
                <tr>
                  <th>Password</th>
                  <td><input type="password" class="login-inp" ng-model="password"/></td>
                </tr>
                <tr>
                  <th></th>
                  <td><input type="submit" class="submit-login"/></td>
                </tr>
              </table>
            </form>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <div id="content" ng-controller="ContentController">

        <h1>Angular authorization and chat demo built with Yoke</h1>
        
        <br>&nbsp;
        
        <h3>Post some protected data. Note: "user/pass" for username and password.</h3>
        <form ng-submit="restrictedAction()">
          Enter restricted data:
          <input type="text" ng-model="restrictedData">
          <input type="submit" value="Submit">
        </form>
        <p ng-repeat="r in restrictedContent">Server says: {{r}}</p>

        <br/>

        <br>&nbsp;
        <h3>Try to chat after login.</h3>
            <ul>
                <li ng-repeat="message in messages">{{message}}</li>
            </ul>
            <form ng-submit="sendMessage()">
                <input type="text" ng-model="messageText" placeholder="Type your message here" />
                <input type="submit" value="Send" />
            </form>
    </div>
        
      <script src="/static/lib/jquery-1.7.2.js" type="text/javascript"></script>
      <script src="/static/lib/angular-1.0.1.js" type="text/javascript"></script>
      <script src="/static/lib/angular-mocks-1.0.1.js" type="text/javascript"></script>
      <script src="/static/lib/http-auth-interceptor.js" type="text/javascript"></script>
      <script src="/static/lib/sockjs-0.3.4.min.js" type="text/javascript"></script>
      <script src="/static/lib/vertxbus.min.js" type="text/javascript"></script>

      <script src="/static/app/main.js" type="text/javascript"></script>
      <script src="/static/app/login.js" type="text/javascript"></script>
      <script src="/static/app/content.js" type="text/javascript"></script>
    </div>
  </body>
</html>